* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-text-clr: #444444;

  --light-text-clr: #e6f6fa;
  --light-text-clr-secondary: #ccedf5;
  --light-text-clr-tertiary: #b3e5f0;

  --bg-lightest-clr: #efefef;
  --bg-light-clr: #dcdcdc;
  --bg-dark-clr: #002129;

  --accent-clr-lightest: #99dceb;
  --accent-clr-light: #4dc1db;
  --accent-clr: #00a7cc;
  --accent-clr-dark: #005466;
  --accent-clr-darkest: #002129;

  --sky-light: #5b888b;
  --sky-dark: #0f2c3a;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--main-text-clr);
  height: 100vh;

  position: relative;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* GENERAL GRIDS ---------------------------------------------------------- */

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:last-child {
  margin-bottom: 0;
}

.grid-align-start {
  align-items: start;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: 1.5fr 2fr 1.5fr;
}

/* GENERAL TYPOGRAPHY ---------------------------------------------------------- */

.heading-primary {
  font-size: 6.4rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 0.8;
}

.heading-secondary {
  font-size: 3.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

/* GENERAL ITEMS ---------------------------------------------------------- */

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;
  color: inherit;
}

.margin-btm-sm {
  margin-bottom: 3.2rem;
}

a:link,
a:visited {
  color: var(--accent-clr-dark);
}

.grayscale {
  filter: grayscale(100%);
  opacity: 0.6;
}

/* HEADER ---------------------------------------------------------- */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2.4rem 0 2.4rem 0;

  color: var(--light-text-clr);
}

.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6.4rem;
  width: auto;
  opacity: 0.6;
}

/* NAV ---------------------------------------------------------- */

.main-nav {
  font-size: 1.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--accent-clr-lightest);
}

/* STICKY NAV ---------------------------------------------------------- */

.sticky {
  position: fixed;
  background-color: var(--accent-clr-darkest);
  top: -80px;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 8rem;
  padding: 0 3.2rem 0 3.2rem;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  transform: translateY(80px);
  transition: transform 0.4s;
}

.section-hero {
  padding-top: 11.5rem;
}

/* MOBILE NAV ---------------------------------------------------------- */

.btn-mobile-nav {
  display: none;

  border: none;
  background: none;
  cursor: pointer;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--light-text-clr);
}

.btn-mobile-nav:has(.icon-mobile-nav[name="close-outline"]) {
  display: none;
}

/* HERO ---------------------------------------------------------- */

.section-hero {
  background-image: url("/img/mountain-daniel-leone-compressed.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-text-clr);
}

.hero-text-box,
.hero-img-box {
  padding: 9.6rem 0 12.8rem 0;
}

.hero-img-box {
  justify-self: center;
}

.hero-text-box {
  position: relative;
  align-self: center;
}

.hero-name-thin {
  letter-spacing: -0.1rem;
  font-weight: 300;
}

.hero-name-thick {
  letter-spacing: 0.95rem;
  font-weight: 700;
}

.hero-job-title {
  font-size: 2.4rem;
  letter-spacing: 0.52rem;
  font-weight: 300;
  margin-left: 3px;
}

.btn-primary:link,
.btn-primary:visited {
  background-color: var(--accent-clr);
  color: var(--accent-clr-darkest);
  transition: all 0.3s;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--accent-clr-lightest);
}

.btn-secondary:link,
.btn-secondary:visited {
  color: var(--accent-clr-lightest);
  background-color: rgba(0, 33, 41, 0.5);
  box-shadow: inset 0 0 0 2px var(--accent-clr-lightest);
  margin-left: 4.8rem;
  transition: all 0.3s;
}

.btn-secondary:hover,
.btn-secondary:active {
  box-shadow: inset 0 0 0 2px var(--accent-clr);
  color: var(--accent-clr);
}

/* SOCIALS ----------------------------------------------------- */

.socials-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 1.6rem;
}

.socials-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.socials:link,
.socials:visited {
  color: var(--accent-clr);
  transition: all 0.3s;
}

.socials:hover {
  color: var(--accent-clr-lightest);
}

/* HERO IMG ----------------------------------------------------- */

.hero-img {
  position: relative;
  background-image: url("/img/ekaterina-and-son.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 32rem;
  height: 32rem;
  animation: morph 10s linear infinite;
  transform-style: preserve-3d;
}

.hero-img::before {
  position: absolute;
  content: "";
  top: -3rem;
  left: -3rem;
  background-image: url("/img/doodles/doodle-circle.svg");
  width: 38rem;
  height: 38rem;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@keyframes fadeIn {
  100% {
    transform: scale(1.03);
    opacity: 0;
  }
}

/* ABOUT & SKILLS ------------------------------------------------------- */

.section-about {
  background-image: url(/img/subtle-prism-grey.svg);
  background-repeat: repeat;
  padding: 9.6rem 0 9.6rem 0;
}

.skills {
  position: relative;
  background-color: var(--bg-light-clr);
  padding: 9.6rem 3.2rem 3.2rem 3.2rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 12px 24px 4px rgba(0, 0, 0, 0.2);
}

.hard-skills,
.soft-skills {
  margin-top: 4.8rem;
}

.hard-skills {
  padding-bottom: 6.4rem;
}

.hard-skills::before,
.soft-skills::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  background-color: var(--bg-dark-clr);
  width: 64rem;
  height: 32rem;
  transform: translate(-50%, -55%);
  border-radius: 50%;
}

.about-me {
  position: relative;
}

.about-me::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  background-color: var(--bg-dark-clr);
  width: 64rem;
  height: 32rem;
  transform: translate(-50%, -55%);
  border-radius: 50%;
}

.about-me::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-image: url("/img/geometric-flower.svg");
  width: 96rem;
  height: 96rem;
  transform: translate(-25%, 20%);
  opacity: 0.04;
  z-index: 0;
}

.skills .heading-secondary {
  text-align: center;
}

.skill-section-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  height: 3.2rem;
  width: 3.2rem;
  border: 6px solid var(--bg-light-clr);
}

.hard-skills .skill-section-icon {
  position: relative;
  background-color: var(--accent-clr-lightest);
  padding: 1.6rem;
  border-radius: 50%;
  z-index: 1;
}

.about-me .skill-section-icon {
  position: relative;
  background-color: var(--accent-clr-lightest);
  padding: 1.6rem;
  border-radius: 50%;
  z-index: 1;
}

.soft-skills .skill-section-icon {
  position: relative;
  background-color: var(--accent-clr-lightest);
  padding: 1.6rem;
  border-radius: 50%;
  z-index: 1;
}

.about-me-info {
  position: relative;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2.4rem;
  z-index: 1;
}

/* GENERAL SKILLS LIST ----------------------------------------------------- */

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  list-style: none;
}

.skill-item {
  display: flex;
  font-size: 1.8rem;
}

/* HARD SKILLS LIST -------------------------------------------------------- */

.hard-skills .skill-list {
  align-items: center;
}

.hard-skills .skill-item {
  flex-direction: column;
  align-items: center;
}

.skill-icon {
  height: 6.4rem;
  width: 6.4rem;
}

/* SOFT SKILLS LIST -------------------------------------------------------- */

.soft-skills .skill-list {
  align-items: flex-start;
}

.skill-icon-sm {
  display: inline-block;
  height: 2.4rem;
  width: 2.4rem;
  color: var(--accent-clr-dark);
  margin-right: 1.6rem;
}

/* PORTFOLIO ----------------------------------------------------- */

.section-portfolio {
  background-color: var(--bg-dark-clr);
  padding: 9.6rem 0 9.6rem 0;
  color: var(--light-text-clr);
}

.project-date {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.project-link-box {
  display: flex;
  gap: 4.8rem;
}

.project-link {
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}

.project-link a {
  color: var(--accent-clr-light);
}

.project-description {
  font-size: 1.8rem;
  color: var(--light-text-clr-secondary);
  margin-bottom: 1.6rem;
}

.portfolio-text-box .skill-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: var(--light-text-clr-tertiary);
}

.section-portfolio .container {
  position: relative;
}

.section-portfolio .container::before {
  position: absolute;
  content: "";
  top: -16rem;
  left: 0;
  background-image: url("/img/doodles/doodle-lightning.svg");
  width: 12rem;
  height: 12rem;
  animation: doodle 3s ease-in-out infinite;
}

.section-portfolio .container::after {
  position: absolute;
  content: "";
  bottom: -16rem;
  right: 0;
  background-image: url("/img/doodles/doodle-spark.svg");
  width: 12rem;
  height: 12rem;
  animation: doodle 3s ease-in-out infinite;
}

@keyframes doodle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}

.portfolio-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* CONTACT ----------------------------------------------------- */

.section-contact {
  background-color: var(--bg-lightest-clr);
  padding: 9.6rem 0 9.6rem 0;
}

.section-contact .heading-secondary {
  position: relative;
  text-align: center;
}

.section-contact .heading-secondary::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translate(-50%, 4rem);
  background-image: url("/img/doodles/doodle-underline.svg");
  background-repeat: no-repeat;
  width: 32rem;
  height: 8rem;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  position: relative;
  background-color: var(--bg-light-clr);
  padding: 3.2rem;
  border-radius: 8px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  box-shadow: 0 12px 24px 4px rgba(0, 0, 0, 0.2);
}

.contact-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: var(--bg-dark-clr);
  width: 192rem;
  height: 32rem;
  transform: translate(-21%, -75%);
  border-radius: 50%;
}

.contact-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  height: 3.2rem;
  width: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: var(--accent-clr-lightest);
  border: 6px solid var(--bg-light-clr);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-label {
  margin-bottom: 0.4rem;
}

.contact-form input {
  margin-bottom: 2.4rem;
  border: none;
  height: 3.2rem;
  padding-left: 0.8rem;
  border-radius: 2px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.contact-form textarea {
  border: none;
  padding-top: 0.4rem;
  padding-left: 0.8rem;
  height: 9.6rem;
  margin-bottom: 3.2rem;
  border-radius: 2px;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

.contact-submit {
  align-self: center;
  width: 30%;
  border: none;
  background-color: var(--accent-clr);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: var(--accent-clr-lightest);
}

/* FOOTER ----------------------------------------------------- */

.footer {
  background-image: url(/img/subtle-prism.svg);
  background-repeat: repeat;
  color: var(--light-text-clr);
  padding: 9.6rem 0 3.2rem 0;
}

.grid-footer {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 6.4rem;
  width: auto;
  opacity: 0.6;
}

.copyright {
  font-size: 1.6rem;
}

.footer .container {
  position: relative;
}

.footer .container::before {
  position: absolute;
  content: "";
  bottom: 8rem;
  left: 24rem;
  background-image: url("/img/doodles/doodle-star.svg");
  width: 12rem;
  height: 12rem;
  animation: doodle 3s ease-in-out infinite;
}

@keyframes doodle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
}

/* FOOTER NAV ----------------------------------------------------- */

.footer-nav {
  font-size: 1.8rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  list-style-type: none;
  color: var(--light-text-clr-tertiary);
}

.footer-nav .heading-tertiary {
  color: var(--light-text-clr-secondary);
}
